## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from dotenv import load_dotenv
load_dotenv()

Google_API_KEY = os.getenv('Google_API_KEY')

# Configure gmaps API key
gmaps.configure(api_key=Google_API_KEY)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Marsh Harbour,26.5412,-77.0636,83.66,71,67,14.63,BS,broken clouds
1,1,Tasiilaq,65.6145,-37.6368,48.36,58,20,4.41,GL,few clouds
2,2,Rocha,-34.4833,-54.3333,47.86,86,33,2.08,UY,scattered clouds
3,3,Touros,-5.1989,-35.4608,74.79,90,100,10.07,BR,overcast clouds
4,4,Cape Town,-33.9258,18.4232,48.90,92,37,3.44,ZA,fog

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Please enter the minimum temperature you would like on your trip: "))
max_temp = float(input("Please enter the maximum temperature you would like on your trip: "))

Please enter the minimum temperature you would like on your trip: 70
Please enter the maximum temperature you would like on your trip: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                            (city_data_df['Max Temp'] >= min_temp)]

cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Marsh Harbour,26.5412,-77.0636,83.66,71,67,14.63,BS,broken clouds
3,3,Touros,-5.1989,-35.4608,74.79,90,100,10.07,BR,overcast clouds
5,5,Saint Anthony,45.0205,-93.2180,89.76,44,20,12.66,US,few clouds
8,8,Urucui,-7.2294,-44.5561,81.05,47,33,2.68,BR,scattered clouds
9,9,Bathsheba,13.2167,-59.5167,83.05,91,40,19.57,BB,scattered clouds
14,14,Tessalit,20.1986,1.0114,87.22,37,62,8.84,ML,light rain
15,15,Angoche,-16.2325,39.9086,71.83,78,46,5.55,MZ,scattered clouds
16,16,Ribeira Grande,38.5167,-28.7000,74.59,67,15,2.66,PT,few clouds
17,17,Mahebourg,-20.4081,57.7000,70.25,73,40,16.11,MU,scattered clouds
18,18,Grand Baie,-20.0182,57.5802,70.45,61,42,11.01,MU,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
print(len(cities_df))

cities_df.count()

332

City_ID                332
City                   332
Lat                    332
Lng                    332
Max Temp               332
Humidity               332
Cloudiness             332
Wind Speed             332
Country                332
Current Description    332
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_df.dropna(axis='index',how='any')
print(len(clean_df))
clean_df.head()

332

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Marsh Harbour,26.5412,-77.0636,83.66,71,67,14.63,BS,broken clouds
3,3,Touros,-5.1989,-35.4608,74.79,90,100,10.07,BR,overcast clouds
5,5,Saint Anthony,45.0205,-93.2180,89.76,44,20,12.66,US,few clouds
8,8,Urucui,-7.2294,-44.5561,81.05,47,33,2.68,BR,scattered clouds
9,9,Bathsheba,13.2167,-59.5167,83.05,91,40,19.57,BB,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Marsh Harbour,BS,83.66,broken clouds,26.5412,-77.0636,
3,Touros,BR,74.79,overcast clouds,-5.1989,-35.4608,
5,Saint Anthony,US,89.76,few clouds,45.0205,-93.2180,
8,Urucui,BR,81.05,scattered clouds,-7.2294,-44.5561,
9,Bathsheba,BB,83.05,scattered clouds,13.2167,-59.5167,
14,Tessalit,ML,87.22,light rain,20.1986,1.0114,
15,Angoche,MZ,71.83,scattered clouds,-16.2325,39.9086,
16,Ribeira Grande,PT,74.59,few clouds,38.5167,-28.7000,
17,Mahebourg,MU,70.25,scattered clouds,-20.4081,57.7000,
18,Grand Baie,MU,70.45,scattered clouds,-20.0182,57.5802,

In [8]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Marsh Harbour,BS,83.66,broken clouds,26.5412,-77.0636,
3,Touros,BR,74.79,overcast clouds,-5.1989,-35.4608,
5,Saint Anthony,US,89.76,few clouds,45.0205,-93.2180,
8,Urucui,BR,81.05,scattered clouds,-7.2294,-44.5561,
9,Bathsheba,BB,83.05,scattered clouds,13.2167,-59.5167,
...,...,...,...,...,...,...,...
676,Princes Town,TT,84.47,overcast clouds,10.2667,-61.3833,
677,Khor,RU,73.20,clear sky,47.8861,134.9464,
678,Kirkwood,US,81.52,broken clouds,38.5834,-90.4068,
679,Canto Do Buriti,BR,83.75,scattered clouds,-8.1100,-42.9444,
683,Warangal,IN,79.12,overcast clouds,18.0000,79.5833,

In [31]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Marsh Harbour,BS,83.66,broken clouds,26.5412,-77.0636,Abaco Beach Resort
3,Touros,BR,74.79,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
5,Saint Anthony,US,89.76,few clouds,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
8,Urucui,BR,81.05,scattered clouds,-7.2294,-44.5561,Hotel Premium Piauí
9,Bathsheba,BB,83.05,scattered clouds,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...,...
676,Princes Town,TT,84.47,overcast clouds,10.2667,-61.3833,Ronadl barreto
677,Khor,RU,73.20,clear sky,47.8861,134.9464,Gostinitsa Deksi
678,Kirkwood,US,81.52,broken clouds,38.5834,-90.4068,"Holiday Inn St Louis SW - Route 66, an IHG Hotel"
679,Canto Do Buriti,BR,83.75,scattered clouds,-8.1100,-42.9444,Novo Hotel
683,Warangal,IN,79.12,overcast clouds,18.0000,79.5833,Capital O 66968 Haveli The Landmark

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_API_KEY
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
        lat = row['Lat']
        lng = row['Lng']
        params['location'] = f'{lat},{lng}'
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
            
        except(IndexError):
            print('Hotel not found..... skipping.')

Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.

In [30]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
clean_hotel_df = hotel_df.dropna(axis='index',how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Marsh Harbour,BS,83.66,broken clouds,26.5412,-77.0636,Abaco Beach Resort
3,Touros,BR,74.79,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
5,Saint Anthony,US,89.76,few clouds,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
8,Urucui,BR,81.05,scattered clouds,-7.2294,-44.5561,Hotel Premium Piauí
9,Bathsheba,BB,83.05,scattered clouds,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...,...
676,Princes Town,TT,84.47,overcast clouds,10.2667,-61.3833,Ronadl barreto
677,Khor,RU,73.20,clear sky,47.8861,134.9464,Gostinitsa Deksi
678,Kirkwood,US,81.52,broken clouds,38.5834,-90.4068,"Holiday Inn St Louis SW - Route 66, an IHG Hotel"
679,Canto Do Buriti,BR,83.75,scattered clouds,-8.1100,-42.9444,Novo Hotel
683,Warangal,IN,79.12,overcast clouds,18.0000,79.5833,Capital O 66968 Haveli The Landmark

In [33]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))